* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

body {
    font-family: 'Freckle Face', cursive;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.FrontImage {
    width: 100%;
    height: 100vh;
    background-image: url('./FrontImage.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bgImage {
    width: 100%;
    height: 500px;
    background-image: url('./BkGrdImage.avif');
    background-size: cover;
    background-repeat: no-repeat;
}

.bgImage2 {
    width: 100%;
    height: 500px;
    background-image: url('./BkGrdImage2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #91091E;
    color: #FE9801;
    height: 70px;
}
.nav-links a {
    color: #FE9801;
}
   /* LOGO */
.logo {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.oSize {
    font-size: 6rem;
}

.logo2 {
    font-size: .9rem;
}
   /* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    background-color: wheat;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}
   /* DROPDOWN MENU */
.services {
    position: relative; 
}
.dropdown {
    background-color: wheat;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}
.dropdown li + li {
    margin-top: 10px;
}
.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.dropdown li:hover {
    background-color: wheat;
}
.services:hover .dropdown {
    display: block;
}
input[type=checkbox]{
    display: none;
} 
   /*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
   /* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:wheat;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:wheat;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: wheat;
   }
}

th {
    font-size: 1.8rem;
    padding: 6px;
    color: #91091E;
}

td {
    font-size: 1.3rem;
}

.tableContainer {
    width: 100%;
    height: 100vh;
    color: wheat;
    background-color: #FE9801;
    
}

footer {
    background-color: #91091E;
    color: #FE9801;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.yo, .yo2 {
    display: inline-block;
}

.yo {
    font-size: 1.5rem;
}

.yosize {
    font-size: 3rem;
}

.yo2 {
    float: right;
}




/*header,
h1,
nav{
    border: solid 1px black;
}

#heading {
    font-family: 'Freckle Face', cursive;
    
    background-color: #91091E;
    color: #FE9801;
}

.navbar-brand {
    color: #FE9801;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: #FE9801;
}

#doh {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

#doh2 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
*/